/*
Name : CSS for PDF;
Author: unknown;
*/
@charset "UTF-8";

@page {
                margin: 25px 25px;

            }

        body{
            font-family: Tahoma,sans-serif;
            padding: 0;
            margin: 0;
            font-size: 12px;            
        }
/** Define the header rules **/

            main {
                padding-top:20px;                
            }

        .inline{
            margin: auto;
            max-width: 90%;
            
        }
        .inline .column{      
            width: 50%;
            display: inline-block;                                                                         
        }

        .inline p{
            margin: 0;
            line-height: 1.5;
        }

        .inline .alamat_customer{
            text-align:right;
        }

        .copyright{
            font-size: 12px;
            display: block;
            margin: auto;
            text-align: center;
        }

        table.table{
            font-size: 11px;
            margin-top:20px;
            width: 100%;        
            border-collapse: collapse;
            border-spacing: 0;   
            vertical-align: baseline; 
            
        }



        table.table-report{
            width: 50%;
        }

        table.table tr th{            
            border:1px solid;
            text-align: left;
        }

        table.table tr th,
        table.table tr td{
            padding:5px;
        }

       /* table.table tbody{
            border-bottom: 1px solid;
            border-left: 1px solid;            
            border-right: 1px solid;
        }*/

        table.table tbody tr td{
            border-left: 1px solid;            
        }

        table.table tfoot tr td{
            border: 1px solid;            
        }                

    .logo_toko{
        width: 100px;                  
    }
    

/*report */